<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-11">
      <h1 class="page-header text-center"><%= title %></h1>
      <hr>
       <%if(typeof name == "string" && name) { %>
      <a href="/user/add" class="btn btn-primary btn" role="button"> <i class="fas fa-plus-circle"></i> Add Contact</a>
      <br>
      <% }%>
      <br>
      <table class="table table-bordered taple-stripped table-hover">
        <!-- Header Row -->
        <tr>
          <th class="text-center col-1">Username</th>
          <th class="text-center col-1">Name</th>
          <th class="text-center col-1">Email</th>
         
          <th class="text-center col-1">Phone</th>
         <%if(typeof name == "string" && name) { %>
          <th class="text-center col-1">Edit/Delete</th>
         
          <% }%>
        </tr>

        <!-- Repeatable Template Row -->
        <% for (let count = 0; count <UserList.length; count++) { %>
            <tr>
                <td class="text-center col-1"><%= UserList[count].username %></td>
                <td class="text-center col-1"><%= UserList[count].name  %></td>
                <td class="text-center col-1"><%= UserList[count].email %></td>
                <td class="col-4"><%= UserList[count].phone  %></td>
                
                <%if(typeof name == "string" && name) { %>
                <td class="text-center col-1">
                  <a href="/user/edit/<%= UserList[count]._id  %>" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Edit</a>
                  <br> <br>
                   <a href="/user/delete/<%= UserList[count]._id  %>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
        
                <% }%>
            </tr>
            <% } %> 
      </table>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> 
<%- include ../partials/footer.ejs %>
