<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Register -->

<main class="container-fluid bg-dark bg-gradient text-white">
  
  <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

  <div class="row">
    <div class="container offset-md-2 col-md-8">
      <div class="mt-4 p-3 bg-primary text-white rounded">
      <h1 class="display-1 text-center" >Sign Up</h1>
      <hr class="bg-dark">
      </div>
      <form method="post" class="form mt-3 offset-md-3 col-md-6">
        <fieldset class="form-group">
          <label for="username">Username</label
          ><input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            id="username"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password</label
          ><input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            id="password"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Email</label
          ><input
            type="email"
            class="form-control"
            name="email"
            placeholder="Email Address"
            id="email"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="name">First Name</label
          ><input
            type="text"
            class="form-control"
            name="fname"
            placeholder="First Name"
            id="fname"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="name">Last Name</label
          ><input
            type="text"
            class="form-control"
            name="lname"
            placeholder="Last Name"
            id="lname"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="phone">Phone Number</label
          ><input
            type="tel"
            class="form-control"
            name="phone"
            placeholder="Enter Phone Number"
            id="phone"
            maxlength="10"
            
            required
            autofocus
          />
        </fieldset>


        <fieldset class="container my-4 btn-group  offset-3 col-2">
          <input type="submit" class="btn btn-success " value="Register" />
          <a href="/user-list" >
            <input class="btn btn-warning" value = "Cancel"/>
        </a>
        </fieldset>
      </form>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
